:root {
  --low-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --mid-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --high-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --v-high-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  /* Colours */
--charcoal: #264653;
--persian-green: #2a9d8f;
--maize-crayola: #e9c46a;
--sandy-brown: #f4a261;
--terra-cotta: #e76f51;

--black: #2b2d42;
--grey: #8D99AE;
/* --white: #EDF2F433; */
--white: #F1FAEE80;
/* --red: #EF233C; */
--red: #E63946;
--dark-red: #D90429;
}

.hide-modal {
  pointer-events: none;
  opacity: 0;
}

.modal-outer {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: var(--grey);
  padding: 20px;
  height: 150px;
  width: 250px;
  border-radius: 5px;
}

#amount {
  margin: 5px;
}

#close-modal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 5px;
}

#modal-text {
  width: max-content;
  margin: 5px;
}

.phone-screen {
  position: relative;
  display: grid;
  gap: 15px;
  justify-items: center;
  border-radius: 5px;
  box-shadow: var(--v-high-shadow);
  border: 2px solid gray;
  padding: 10px;
  margin: 50px auto;
  height: 700px;
  width: 400px;
  background-color: #0077B6;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
  "info-panel"
  "transaction-history"
  "transaction-history"
  "transaction-history"
  "transaction-history"
  "menu";
}

.info-panel {
  grid-area: info-panel;
  width: 90%;
  box-shadow: var(--low-shadow);
  text-align: center;
  background-color: var(--white);
}

.cx-info {
  margin: 5px;
}

.cx-name {}
.cx-bal {}
.cx-acc-info {}

.transaction-history {
  grid-area: transaction-history;
  background-color: var(--white);
  width: 90%;
  bottom: 0;
  box-shadow: var(--low-shadow);
}

.transaction-heading {
  display: flex;
  height: 20px;
  padding: 15px;
  justify-content: space-between;
}

.transaction-heading h6 {
  margin: 0;
}

.transaction-list {
  padding: 15px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--white);
}

.indivdual-trans {
  display: flex;
  justify-content: space-between;
}

.menu {
  grid-area: menu;
  background-color: var(--white);
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: var(--low-shadow);

}

.menu-btn,
#submit-btn {
  width: 100px;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: var(--low-shadow);
  background-color: var(--white);
  border: 1px solid var(--black);
}

.border {
  border-radius: 10px;
  border: 1px solid var(--black);
}