:root {
  --title-font: 'Montserrat', sans-serif;
  --main-font: 'Hind', sans-serif;
  --white: rgba(242, 242, 242, 1);
  --l-gray: rgba(165, 165, 165, 1);
  --d-gray: rgba(89, 89, 89, 1);
  --l-black: rgba(38, 38, 38, 1);
  --black: rgba(12, 12, 12, 1);
  --d-blue: #3D5A80;
  --l-blue: #98C1D9;
  --vl-blue: #E0FBFC;
  --orange: #EE6C4D;
  /* --black: #293241; */
}


body {
  /* border-top: 5px solid var(--black); */
  border-top: 5px solid var(--l-blue);
  /* background-color: var(--white); */
  background-color: var(--d-blue);
}

header {
  font-family: var(--title-font);
}

.head-container {
  display: grid;
  color: var(--black);
  justify-content: center;
  text-align: center;
  align-items: center;
  grid-template-areas:
  "." 
  "title"
  "sub-title"
  "countdown"
  "progressBar"
  "intro-text";
  grid-template-rows: 25vh repeat(6, fit-content(800px));
}

.fade-me {
  opacity: 100%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  grid-area: intro-text;
}

.head-container h1 {
  grid-area: title;
  font-size: 5vw;
}
.head-container h3 {
  grid-area: sub-title;
  font-size: 3vw;
}
.head-container h6 {
  grid-area: countdown;
  font-size: 2vw;
}
.head-container progress {
  grid-area: progressBar;
}

.topline,
.bottomline {
  margin: 5px;
  font-size: 1.2vw;
}

.header-head {
  margin: 1vh;
}

progress {
  margin: 50px auto;
  width: 40vw;
  appearance: none;
  border-radius: 90px;
  /* background-color: var(--white); */
  background-color: var(--l-blue);
  padding: 2px;
  /* border: 1px solid var(--black); */
  border: 1px solid var(--l-blue);
  /* box-shadow: 0px 1px 1px 1px var(--l-black); */
}

progress::-webkit-progress-bar {
  border-radius: 90px;
  /* background-color: var(--l-white); */
  background-color: var(--l-blue);
}
progress::-webkit-progress-value {
  border-radius: 90px;
  /* background-color: var(--l-black); */
  background-color: var(--orange);
}
progress::-moz-progress-bar {
  border-radius: 90px;
  /* background-color: var(--l-black); */
  background-color: var(--orange);
}


.container {
  margin: 0 auto;
  display: grid;
  width: 60vw;
  gap: 50px;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "title "
  "article1"
  "article2"
  "article3";

}

.container-title {
  grid-area: title;
  font-size: 1vw;
}

.row-one,
.row-two,
.row-three {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(250px 420px);
  background-color: var(--l-blue);
  grid-area: article1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--vl-blue);
  grid-template-areas: "left right";
}

.container img {
  display: grid;
  justify-self: center;
  width: 100%;
}

.container p {
  margin: 20px;

}

.row-one {
  grid-area: article1;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.row-two {
  grid-area: article2;
}
.row-three {
  grid-area: article3;
}

.fade-me-in {
  opacity: 0;
}

footer {
  background-color: var(--l-blue);
  height: 5vh;
  margin-top: 10vh;
}